<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Angular Mock</span>
  <span class="spacer"></span>
  <span>TD</span>
  <button
    type="button"
    mat-icon-button
    routerLink="/home">
    <mat-icon aria-label="Home page">home</mat-icon>
  </button>
</mat-toolbar>

<div class="sidenav-div">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav #drawer
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-nav-list>
        <a mat-list-item routerLink="/customers">Customers</a>
        <a mat-list-item routerLink="/events">Events</a>
        <a mat-list-item routerLink="/get-points">Getting Loyalty Points</a>
        <a mat-list-item routerLink="/spend-points">Spending Loyalty Points</a>
        <a mat-list-item routerLink="/trxes">All Transactions</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
