.sidenav-div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.sidenav {
  height: 100%;
}

mat-sidenav-content {
  height: 100%;
  margin-left: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
