.sidenav-container {
  height: 100%;
}

.sidenav {
  background: inherit;
  height: 100%;
}

.sidenav-content {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
