<div class="mat-elevation-z8">
  <table mat-table matSort aria-label="Transactions">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="typeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type ID</th>
      <td mat-cell *matCellDef="let row">{{row.typeId}}</td>
    </ng-container>

    <ng-container matColumnDef="linkId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Link ID</th>
      <td mat-cell *matCellDef="let row">{{row.linkId}}</td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
      <td mat-cell *matCellDef="let row">{{row.timestamp | date : 'YYYY-MM-DD HH:mm:ss'}}</td>
    </ng-container>

    <ng-container matColumnDef="tsFormat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp Format</th>
      <td mat-cell *matCellDef="let row">{{row.tsFormat}}</td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.text}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
      <td mat-cell *matCellDef="let row">{{row.value}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <a class="edit-button" href="/trx/{{row.id}}"><mat-icon>edit</mat-icon></a>
        <a class="del-button" (click)="delete(row.id)"><mat-icon>remove_circle_outline</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-divider></mat-divider>
  <mat-paginator #paginator
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>

  <mat-divider></mat-divider>
  <table>
    <tr>
      <td><a class="add-button" href="trx/0"><mat-icon>add_circle_outline</mat-icon></a></td>
      <td><app-status class="grow_1"></app-status></td>
    </tr>
  </table>
  <router-outlet></router-outlet>
</div>
