.chronology {
  height: 100%;
  flex-direction: row;
}

.chronology-list {
  height: 60%;
}

.chronology-viewport {
  height: 100%;
}

.chronology-content {
  height: 100%;
}

h1 {
  padding-top: 16px;
}
