.chronology {
  min-height: fit-content;
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

.chronology-list {
  min-height: fit-content;
}

.chronology-viewport {
  min-height: 400px;
}

.chronology-content {
  height: 100%;
}

h1 {
  padding-top: 8px;
}
