.chronology {
  margin-left: 8px;
  margin-right: 8px;
}

.chronology-viewport {
  overflow: scroll;
}

.chronology-content {
  height: 100%;
}

h1 {
  padding-top: 8px;
  margin-top: 0;
}

.bottom {
  height: 1px;
}
