<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="trx-card">
    <mat-card-header>
      <mat-card-title>Transaction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" type="number" min="0" readonly formControlName="id">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Type ID</mat-label>
            <input matInput placeholder="Type ID" type="number" min="{{minTypeId}}" max="{{maxTypeId}}" formControlName="typeId">
            <mat-error *ngIf="form.controls['typeId'].hasError('required')">
              Type ID is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Link ID</mat-label>
            <input matInput placeholder="Link ID" type="number" min="0" formControlName="linkId">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="timestamp">
            <mat-hint>MM-DD-YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Timestamp Format</mat-label>
            <input matInput placeholder="Timestamp Format" formControlName="tsFormat">
            <mat-hint>YYYY-MM-dd, YYYY or nothing for example.</mat-hint>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Value</mat-label>
            <input matInput placeholder="Value" type="number" formControlName="value">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Text</mat-label>
            <textarea matInput placeholder="Text" formControlName="text"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button type="cancel">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
